div.section1 {
    height: 10px;
    background-color: aqua;
}
div.section2 {
    height: 100px;
    background-color: pink;
}
div.section3 {
    height: 100px;
    background-color: green;
}
div.section4 {
    height: 100px;
    background-color: red;
}
div.section5 {
    height: 100px;
    background-color: gray;
}
div.section6 {
    height: 100px;
    background-color: brown;
}
div.section7 {
    height: 100px;
    background-color: white;
}