div.section1 {
    background-color: black;
    color: white;
    h1 {
        background-color: aqua;
        color: black;
    }
}
div.section2 {
    background-color: yellow;
    color: red;
    h1 {
        background-color: red;
        color: white;
    }
}